"*":
  "advanced-open-file":
    createFileInstantly: true
    defaultInputValue: "Project root"
  "api-docs":
    _theme: "Dark"
    "django~1": {}
    dom: false
    dom_events: false
    html: true
    http: false
    markdown: true
    node: true
    "node~4_lts": true
    npm: true
    python2: true
    "python~3":
      "5": true
  "atom-alignment": {}
  "atom-terminal":
    app: "C:\\Users\\npcharles\\Documents\\cmder\\Cmder.exe"
    surpressDirectoryArgument: false
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  "autocomplete-python":
    extraPaths: "C:\\Python27_32\\Lib\\site-packages"
    pythonExecutable: "python"
    pythonPath: "C:\\Python27_32\\python.exe"
  "bottom-dock": {}
  "browser-plus": {}
  build:
    scrollOnError: true
    stealFocus: false
  "build-tools": {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "dev-live-reload"
      "spell-check"
      "language-objective-c"
      "linter-shellcheck"
      "autocomplete-go"
      "go-config"
      "go-get"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "project-manager"
      "process-palette"
      "highlight-line"
      "bottom-dock"
      "fuzzy-finder"
      "open-on-github"
      "linter"
      "snippets"
      "multi-cursor"
      "line-jumper"
      "markdown-preview"
      "autoclose-html"
      "atom-terminal"
      "turbo-javascript"
      "line-ending-selector"
      "api-docs"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr: {}
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
  "exception-reporting":
    userId: "7d65b420-483f-76a0-cca0-cd624467c6c3"
  "find-and-replace": {}
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected": {}
  jumpy: {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  "line-jumper": {}
  linter:
    errorPanelHeight: 127
    showErrorTabLine: true
  "linter-docker": {}
  "linter-eslint":
    globalNodePath: "C:\\Users\\npcharles\\AppData\\Roaming\\npm"
  "linter-gcc":
    execPath: "C:\\msys64\\usr\\bin\\gcc.exe"
    gccDefaultCFlags: "-W -Wall -std=c99"
    gccIncludePaths: "., ./include"
  "linter-jshint":
    executablePath: "C:\\Users\\npcharles\\AppData\\Roaming\\npm\\jshint.cmd"
    lintInlineJavaScript: true
  "linter-pylint":
    pythonPath: "C:\\Python27_32\\python.exe"
  "local-history": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui": {}
  "package-sync":
    forceOverwrite: true
  "pdf-view": {}
  "project-manager":
    closeCurrent: true
    sortBy: "group"
  "python-jedi":
    Pathtopython: "python"
    enablePython2: true
  "python-tools":
    pythonPath: "C:\\Python27_32"
  "remote-edit":
    storePasswordsUsingKeytar: true
  "remote-sync": {}
  "symbols-tree-view": {}
  "todo-show": {}
  "trailing-spaces":
    enableForIndentation: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
".html.jsp.text":
  editor:
    tabLength: 2
".java-properties.source":
  editor:
    tabLength: 2
".java.source":
  editor:
    tabLength: 2
".junit-test-report.text":
  editor:
    tabLength: 2
