"*":
  "advanced-open-file":
    createFileInstantly: true
    defaultInputValue: "Project root"
  "api-docs":
    _theme: "Dark"
    "django~1": {}
    dom: false
    dom_events: false
    html: true
    http: false
    markdown: true
    node: true
    "node~4_lts": true
    npm: true
    python2: true
    "python~3":
      "5": true
  "atom-alignment": {}
  "atom-terminal":
    app: "/bin/bash"
    surpressDirectoryArgument: false
  "atom-terminal-panel": {}
  "atom-typescript":
    preferredQuoteCharacter: "'"
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  "autocomplete-python":
    extraPaths: "C:\\Python27_32\\Lib\\site-packages"
    pythonExecutable: "python"
    pythonPath: "C:\\Python27_32\\python.exe"
  "bottom-dock": {}
  "browser-plus": {}
  build:
    scrollOnError: true
    stealFocus: false
  "build-tools": {}
  core:
    audioBeep: false
    autoHideMenuBar: true
    destroyEmptyPanes: false
    disabledPackages: [
      "dev-live-reload"
      "spell-check"
      "language-objective-c"
      "linter-shellcheck"
      "autocomplete-go"
      "go-config"
      "go-get"
      "language-babel"
      "language-javascript-jsx"
      "process-palette"
      "python-tools"
      "welcome"
      "linter-pylint"
      "python-jedi"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "project-manager"
      "process-palette"
      "highlight-line"
      "bottom-dock"
      "fuzzy-finder"
      "open-on-github"
      "linter"
      "snippets"
      "multi-cursor"
      "line-jumper"
      "markdown-preview"
      "autoclose-html"
      "atom-terminal"
      "turbo-javascript"
      "line-ending-selector"
      "api-docs"
      "web-view"
      "atom-terminal-panel"
      "terminal-status"
      "web-lookup"
      "emmet"
      "platformio-ide-terminal"
      "terminal-fusion"
    ]
    projectHome: "/home/chipp/Documents"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  docblockr: {}
  editor:
    backUpBeforeSaving: true
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
  "exception-reporting":
    userId: "7d65b420-483f-76a0-cca0-cd624467c6c3"
  "file-icons": {}
  "find-and-replace": {}
  "fuzzy-finder":
    ignoredNames: [
      "dist"
    ]
    preserveLastSearch: true
    searchAllPanes: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus": {}
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected": {}
  jumpy: {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  "line-jumper": {}
  linter:
    errorPanelHeight: 127
    showErrorTabLine: true
  "linter-docker": {}
  "linter-eslint":
    globalNodePath: "C:\\Users\\npcharles\\AppData\\Roaming\\npm"
  "linter-gcc":
    execPath: "C:\\msys64\\usr\\bin\\gcc.exe"
    gccDefaultCFlags: "-W -Wall -std=c99"
    gccIncludePaths: "., ./include"
  "linter-pug":
    projectConfigFile: ".pug-lintrc"
  "linter-pylint":
    pythonPath: "C:\\Python27_32\\python.exe"
  "local-history": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  "one-dark-ui": {}
  "package-sync":
    forceOverwrite: true
  "pdf-view": {}
  "platformio-ide-terminal":
    core:
      shell: "/usr/bin/zsh"
  "project-manager":
    closeCurrent: true
    sortBy: "group"
  "python-jedi":
    Pathtopython: "python"
    enablePython2: true
  "python-tools":
    pythonPath: "C:\\Python27_32"
  "remote-edit":
    storePasswordsUsingKeytar: true
  "remote-sync": {}
  "symbols-tree-view": {}
  "terminal-fusion":
    toggles:
      autoClose: true
  "terminal-panel":
    shell: "/usr/bin/zsh"
  "terminal-panel-uoa":
    shell: "/usr/bin/zsh"
  "terminal-plus":
    core: {}
    toggles:
      autoClose: true
      runInsertedText: false
  "todo-show": {}
  "trailing-spaces":
    enableForIndentation: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 2
".html.jsp.text":
  editor:
    tabLength: 2
".java-properties.source":
  editor:
    tabLength: 2
".java.source":
  editor:
    tabLength: 2
".junit-test-report.text":
  editor:
    tabLength: 2
