# My Keybindings
#
# Important note :
# Selector's name must be unique (eg 'body').
# The last selector's declaration will override the others.

# pane and window
'body':
  'ctrl-w': 'unset!'
  'ctrl-q': 'unset!'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-w ctrl-w': 'core:close'
  'ctrl-w n': 'window:focus-next-pane'
  'ctrl-w p': 'window:focus-previous-pane'
  'ctrl-w left': 'window:focus-pane-on-left'
  'ctrl-w right': 'window:focus-pane-on-right'
  'ctrl-w up': 'window:focus-pane-above'
  'ctrl-w down': 'window:focus-pane-below'
  'ctrl-w shift-i': 'pane:split-left'
  'ctrl-w i': 'pane:split-right'
  'ctrl-w shift-_': 'pane:split-up'
  'ctrl-w _': 'pane:split-down'
  'ctrl-w +': 'window:increase-font-size'
  'ctrl-w -': 'window:decrease-font-size'
  'ctrl-w *': 'window:reset-font-size'
  'ctrl-w alt-left': 'pane:move-item-left'
  'ctrl-w alt-right': 'pane:move-item-right'
  'ctrl-o': 'unset!'
  'ctrl-shift-w': 'unset!'
  'alt-f4': 'window:close'

'atom-workspace atom-pane':
  'ctrl-alt-=': 'unset!'
  'f11': 'window:toggle-full-screen'

# tree navigation
'.tree-view':
  'shift-r': 'tree-view:rename'

# diagnostic
'.platform-darwin, .platform-linux, .platform-win32':
  'ctrl-2': 'nuclide-diagnostics-ui:toggle-table'

# terminal
'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'alt-t t': 'terminal-fusion:toggle'
  'alt-t n': 'terminal-fusion:new'
  'alt-t w': 'terminal-fusion:close'
  'alt-t 1': 'terminal-fusion:prev'
  'alt-t =': 'terminal-fusion:next'
  'alt-t f': 'terminal-fusion:fullscreen'

# project manager
'.platform-win32, .platform-linux':
  'ctrl-p l': 'project-manager:list-projects'
  'ctrl-p a': 'project-manager:edit-projects'
  'ctrl-p e': 'project-manager:edit-project'
  'ctrl-p s': 'project-manager:save-project'
  'ctrl-p u': 'project-manager:update-projects'
# file tree
  'ctrl-&': 'tree-view:toggle'
  'alt-&': 'tree-view:toggle-focus'

# git
'atom-workspace':
  'alt-g r': 'open-on-github:repository'
  'alt-g f': 'open-on-github:file'

# editor
'.platform-linux atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-[': 'unset!'
  'ctrl-down': 'line-jumper:move-down'
  'ctrl-up': 'line-jumper:move-up'
  'ctrl-down': 'line-jumper:move-down'
  'ctrl-shift-up': 'line-jumper:select-up'
  'ctrl-shift-down': 'line-jumper:select-down'

'atom-workspace atom-text-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-alt-shift-a': 'core:select-all'
  'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'
  'ctrl-shift-right': 'editor:select-to-next-subword-boundary'
  'alt-b': 'unset!'
  'alt-f': 'unset!'
# snippets and autocomplete
  'ctrl-space': 'snippets:expand'
  'ctrl-3': 'snippets:available'
  'shift-tab': 'snippets:previous-tab-stop'
  'tab': 'snippets:next-tab-stop'


'atom-workspace atom-text-editor:not([mini])':
  'alt-down': 'multi-cursor:expandDown'
  'alt-up': 'multi-cursor:expandUp'
  'alt-shift-down': 'multi-cursor:move-last-cursor-down'
  'alt-shift-right': 'multi-cursor:move-last-cursor-right'
  'alt-shift-left':  'multi-cursor:move-last-cursor-left'
  'alt-shift-up':    'multi-cursor:move-last-cursor-up'

'atom-workspace atom-text-editor:not([mini])[data-grammar^="source ts"]':
  'ctrl-shift-M': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-shift-a': 'editor:select-to-first-character-of-line'
  'ctrl-shift-e': 'editor:select-to-end-of-line'
  'ctrl-shift-M': 'bracket-matcher:select-inside-brackets'

# fuzzy finder
'.platform-linux':
  'ctrl-b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-t': 'fuzzy-finder:toggle-file-finder'
  'alt-g o': 'fuzzy-finder:toggle-git-status-finder'
  'ctrl-o': 'advanced-open-file:toggle'

# find and replace
'.platform-linux atom-text-editor':
  'ctrl-i': 'find-and-replace:select-next'
  'ctrl-shift-i': 'find-and-replace:select-skip'
  'ctrl-f': 'find-and-replace:use-selection-as-find-pattern'
