packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-bootstrap3"
  "atom-typescript"
  "autoclose-html"
  "autocomplete-go"
  "autocomplete-html-entities"
  "bottom-dock"
  "color-picker"
  "docblockr"
  "dockerletion"
  "emmet"
  "file-icons"
  "fonts"
  "git-plus"
  "highlight-line"
  "highlight-selected"
  "language-docker"
  "language-gitignore"
  "language-pug"
  "language-riot-tag"
  "line-jumper"
  "linter"
  "linter-bootlint"
  "linter-docker"
  "linter-eslint"
  "linter-pug"
  "linter-tslint"
  "local-history"
  "multi-cursor"
  "package-sync"
  "pdf-view"
  "pigments"
  "terminal-fusion"
  "project-manager"
  "react"
  "remote-sync"
  "rest-client"
  "symbols-tree-view"
  "todo-show"
  "trailing-spaces"
]
