packages: [
  "advanced-open-file"
  "api-docs"
  "atom-alignment"
  "atom-beautify"
  "atom-bootstrap3"
  "atom-terminal"
  "atom-typescript"
  "autoclose-html"
  "autocomplete-go"
  "autocomplete-html-entities"
  "autocomplete-python"
  "bottom-dock"
  "docblockr"
  "dockerletion"
  "file-icons"
  "git-plus"
  "go-config"
  "go-get"
  "highlight-line"
  "highlight-selected"
  "language-docker"
  "line-jumper"
  "linter"
  "linter-bootlint"
  "linter-docker"
  "linter-eslint"
  "linter-pylint"
  "linter-tslint"
  "local-history"
  "multi-cursor"
  "package-sync"
  "pdf-view"
  "project-manager"
  "python-jedi"
  "python-tools"
  "react"
  "remote-sync"
  "symbols-tree-view"
  "todo-show"
  "trailing-spaces"
]
